<?xml version="1.0" encoding="utf-8" ?>
<!-- When the debug attribute of the log4net section is set to "true", the log4net library
       emits verbose internal logging messages to the application console. -->
<!--LogLevels: ALL; DEBUG; INFO; WARN; ERROR; FATAL; OFF-->
<log4net debug="false"
         threshold="ALL">
	<appender name="RollingTracingAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<dateTimeStrategy type="log4net.Appender.RollingFileAppender+UniversalDateTime" />
		<!--TOSET! Logging folder relative to appdomain base directory.-->
		<file value="..\..\logs\ALP\dev\" />
		<datePattern value="yyyy-MM-dd'_execution.log'" />
		<staticLogFileName value="false" />
		<filter type="ALP.WebAPI.Logging.AndFilter">
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="WARN" />
			</filter>
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="ALP" />
			</filter>
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<layout type="ALP.WebAPI.Logging.DefaultLayout" />
	</appender>
	<appender name="RollingErrorAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<dateTimeStrategy type="log4net.Appender.RollingFileAppender+UniversalDateTime" />
		<!--TOSET! Logging folder relative to appdomain base directory.-->
		<file value="..\..\logs\ALP\dev\" />
		<datePattern value="yyyy-MM-dd'_error.log'" />
		<staticLogFileName value="false" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
			<levelMax value="OFF" />
		</filter>
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<layout type="ALP.WebAPI.Logging.DefaultLayout" />
	</appender>
	<appender name="RollingExternalAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<dateTimeStrategy type="log4net.Appender.RollingFileAppender+UniversalDateTime" />
		<!--TOSET! Logging folder relative to appdomain base directory.-->
		<file value="..\..\logs\ALP\dev\" />
		<datePattern value="yyyy-MM-dd'_external.log'" />
		<staticLogFileName value="false" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="ALP" />
			<acceptOnMatch value="false" />
		</filter>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="WARN" />
			<levelMax value="WARN" />
		</filter>
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<layout type="ALP.WebAPI.Logging.DefaultLayout" />
	</appender>
	<root>
		<appender-ref ref="RollingTracingAppender" />
		<appender-ref ref="RollingErrorAppender" />
		<appender-ref ref="RollingExternalAppender" />
	</root>
</log4net>
